#Data Types and Structures Questions

## 1. theorotical Questions

1. What are data structures, and why are they important?
  - data structures are kind of memory storage where the information is stored in a specialised way so that one can access,manipulate for analysis.e.x. list,string,tuple
  - Data structures are important beacuse with different type of data structures the efficiency to store and access data increases,the ease of operations on the data increases due to specific data structures
  .

2. Explain the difference between mutable and immutable data types with examples?
   - Mutable data types are the data types that we can manipulate or say can make changes after we create it,but with immutable data types we cant do any changes rather than accessing it.
   .ex. mutable= list,set,dict , immutable=int,string

3. What are the main differences between lists and tuples in Python?
   - The main difference is that the list are mutable and tuples are not.
   - Lists consume more memory, but offer more methods

4. Describe how dictionaries store data?
   - Dictionary stores data in key value pair,where each unique key has its value.The uniqueness of the keys are due to internal assignment of that keys to hashable format.

5. Why might you use a set instead of a list in Python?
   - set doesnt allows duplicate elements so whenever there is need to store only unique elements set must be used.

6. What is a string in Python, and how is it different from a list?
   - String is the data type which stores unicode characters as an element.
   - strings stores homogeneous data and is immutable while list stores heterogeneous data and it is mutable.
  
7. How do tuples ensure data integrity in Python?
   - Tuples are immutable , thus this ensures that tuple once created cant be change,cant add or remove elemets , this helps to keep that data secure and original.
   - also it helps when we want to add multiple elements as a key in dict, we can use tuple there that works perfectly for hashable key based algorithms.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash table is a data structure made up with numeric values. In dictionaries to keep key value pairs unique the keys are made hashable that means a number gets assigned to key as an index of an new array(hash table).

9. Can lists contain different data types in Python?
   - Yes, lsit contains heterogeneous data inside like boolean,string,tuple,dict even lists.

10. Explain why strings are immutable in Python?
    - strings are often used as keys for dictionaries and immutability supporsts hash table.
    - strings are immutable because we cant change substring,character in the string,we cant add or remove items from them.Also if we concatenates two strings it creates different string showing immutability.

11. What advantages do dictionaries offer over lists for certain tasks?
    - 1. Dictionaries comes with key value pair,so we can store data which has the neccessity to store in link(key-value) format.
    - 2.Dictionaries enable fast lookups and structured data storage using unique keys.

12. Describe a scenario where using a tuple would be preferable over a list.
    - tuples must be used for storing information that should not be changed.Ex. storing employee phone number,it can be used in dictionaries,sets,veri sensitive information where misclicks or missreomove can happen.

13. How do sets handle duplicate values in Python?
    - Sets removes all the duplicates and only stores one element each among all the duplicates, But in an unorderd way.

14. How does the “in” keyword work differently for lists and dictionaries?
    - In lists 'in' is used to check weather an elements is present in the list or not while in dictionaries 'in' is used to check the prsence of keys only and not values.

15.  Can you modify the elements of a tuple? Explain why or why not
   - No, we cant modify the elements of a tuple,because tuple is desingned as an immutable data type for simplisity,saftey.

16. What is a nested dictionary, and give an example of its use case?
   - Nested dictionaries are the dictionaries inside a dictionary but not as a key but values.it helps to organise complex and structured data.
   - ex. student_data = {
    "Swaraj": {
        "age": 20,
        "branch": "Agri & Food Engineering",
        "grades": {"math": 88, "physics": 91}
    },
    "Anaya": {
        "age": 19,
        "branch": "CSE",
        "grades": {"math": 95, "physics": 97}
    }
}


17. Describe the time complexity of accessing elements in a dictionary
    - dictionary keys maps hash table so the time complexity of accessing elements in a dictionary is o(1) i.e. constant.

18. In what situations are lists preferred over dictionaries?
    - List has to be used if our data dont want to store in key value pairs rather stroing freely.
    - Also list allows duplicates while dictionaries not.
    - List allows heterogeneous data types which is helpful to stores different data types like boolean,lists,tuple,dict ...

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
 - dictionaries are unordered because it donts stores elements in order like assigning index for each ,so whenever we add an elements we cant say where its idex will be in the elements.
 - We cant access elements by index like we do in lists and tuple,here we have to access by there key like d['x'] which follows constant time complexity.

 20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists are ordered so we can access it by calling directly their index like l[index].Whereas in dictionaries we need to call keys for accesing their corresponding values beacuse they are unordered.

##Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it

name='Swaraj'
print(name)

Swaraj

In [2]:
# 2. Write a code to find the length of the string "Hello World"

print(len('Hello World'))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming

string='Python Programming'
print(string[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase

print('hello'.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

_str='I like apple'
print(_str.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

_list=[i for i in range(1,6)]
print(_list)

[1, 2, 3, 4, 5]

In [7]:
# 7. P Write a code to append the number 10 to the list [1, 2, 3, 4]

_lis=[1, 2, 3, 4]
_lis.append(10)
print(_lis)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lis_=[1, 2, 3, 4, 5]
lis_.remove(3)
print(lis_)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lis=['a', 'b', 'c', 'd']
print(lis[1])

b

In [10]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]

list_=[10, 20, 30, 40, 50]
print(list_[::-1])

[50, 40, 30, 20, 10]

In [11]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it

tup=(100,200,300)
print(tup)

(100, 200, 300)

In [12]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tup_=('red', 'green', 'blue', 'yellow')
print(tup_[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

print(min((10, 20, 5, 15)))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

_tup=('dog', 'cat', 'rabbit')
print(_tup.index('cat'))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits=('mango','kiwi','apple')
print('kiwi' in fruits)

True

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

_set={'a', 'b', 'c'}
print(_set)

{'a', 'b', 'c'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set={1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

set_={1, 2, 3, 4}
set_.remove(4)
print(set_)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

union= {1, 2, 3} | {3, 4, 5}
print(union)

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

intersection= {1, 2, 3} & {2, 3, 4}
print(intersection)

{2, 3}

In [21]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dict_={'name':'Swaraj','age':'20','city':'Satara'}
print(dict_)

{'name': 'Swaraj', 'age': '20', 'city': 'Satara'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

_dict={'name': 'John', 'age': 25}
_dict['country']='USA'
print(_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

info={'name': 'Alice', 'age': 30}
print(info['name'])

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

info={'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']
print(info)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict={'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list_=[1,2,3,4,5]
tuple_=(1,2,3,4,5)
dict_={'a':(1,2,3),'b':(2,3,4)}
print(list_,'\n',tuple_,'\n',dict_)

[1, 2, 3, 4, 5]
 (1, 2, 3, 4, 5)
 {'a': (1, 2, 3), 'b': (2, 3, 4)}

In [27]:
# 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

num=[5,67,54,89]
print(sorted(num))

[5, 54, 67, 89]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index

lists=['Hi','my name','is','Swaraj']
print(lists[3])

Swaraj

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result

dict1={'a':(1,2,3),'b':(2,3,4)}
dict2={'name':'Swaraj','age':'20'}
dict1.update(dict2)
print(dict1)

{'a': (1, 2, 3), 'b': (2, 3, 4), 'name': 'Swaraj', 'age': '20'}

In [30]:
# 30. Write a code to convert a list of strings into a set.

lists_=['Hi','my name','is','Swaraj']
print(set(lists_))

{'Swaraj', 'Hi', 'is', 'my name'}